<a href="https://colab.research.google.com/github/shreyash0502/MLmodels/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv("train.csv")
#df.fillna(method ='pad')
df = df.interpolate(method ='linear', limit_direction ='forward')
df.head()
display(df.isnull().sum())

age                 0
gender              0
tot_bilirubin       0
direct_bilirubin    0
tot_proteins        0
albumin             0
ag_ratio            0
sgpt                0
sgot                0
alkphos             0
is_patient          0
dtype: int64

In [78]:
x = df.drop('is_patient', axis = 1)
y = pd.DataFrame(df['is_patient'])
display(x.head())
display(y.head())

   age  gender  tot_bilirubin  direct_bilirubin  ...  ag_ratio  sgpt  sgot  alkphos
0   65  Female            0.7               0.1  ...        18   6.8   3.3     0.90
1   62    Male           10.9               5.5  ...       100   7.5   3.2     0.74
2   62    Male            7.3               4.1  ...        68   7.0   3.3     0.89
3   58    Male            1.0               0.4  ...        20   6.8   3.4     1.00
4   72    Male            3.9               2.0  ...        59   7.3   2.4     0.40

[5 rows x 10 columns]

   is_patient
0           1
1           1
2           1
3           1
4           1

In [79]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)
display(x_train.head())
display(y_test.head())

     age  gender  tot_bilirubin  ...  sgpt  sgot  alkphos
77    68  Female            0.6  ...   4.6   2.1      0.8
581   31    Male            1.3  ...   6.8   3.4      1.0
210   28    Male            0.8  ...   4.1   2.4      1.4
192   60    Male            2.3  ...   6.6   3.5      1.1
449   48  Female            0.9  ...   6.2   3.1      1.0

[5 rows x 10 columns]

     is_patient
355           2
407           1
90            1
402           1
268           1

In [80]:
label_encoder = preprocessing.LabelEncoder()
x_train['gender'] = label_encoder.fit_transform(x_train['gender'])
x_test['gender'] = label_encoder.fit_transform(x_test['gender'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [81]:
# col1 = x_train.columns
# col2 = y_train.columns
# stand = preprocessing.StandardScaler()
# stand.fit(x_train)
# x_train = stand.transform(x_train)
# stand.fit(y_train)
# y_train = stand.transform(y_train)
# stand.fit(x_test)
# x_test = stand.transform(x_test)
# stand.fit(y_test)
# y_test = stand.transform(y_test)
# x_train = pd.DataFrame(x_train, columns = col1)
# x_test = pd.DataFrame(x_test, columns = col1)
# y_test = pd.DataFrame(y_test, columns = col2)
# y_train = pd.DataFrame(y_train, columns = col2)

In [82]:
x_train.describe()

              age      gender  ...        sgot     alkphos
count  466.000000  466.000000  ...  466.000000  466.000000
mean    44.212446    0.763948  ...    3.160300    0.959056
std     15.650069    0.425111  ...    0.793272    0.325856
min      4.000000    0.000000  ...    0.900000    0.300000
25%     32.250000    1.000000  ...    2.600000    0.742500
50%     45.000000    1.000000  ...    3.100000    1.000000
75%     56.000000    1.000000  ...    3.800000    1.100000
max     85.000000    1.000000  ...    5.500000    2.800000

[8 rows x 10 columns]

In [83]:
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [84]:
model.get_depth()

17

In [85]:
model.score(x_test, y_test)

0.7350427350427351